.register-page {

    .register-page-container {
        padding: 0 20px;
        width: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}